# ==============================================================================
# FORK WORKSPACE MASK MATRIX: AMX RAIDXPERT2 OUT-OF-TREE MODULES
# TARGET FOOTPRINT: https://github.com
# ==============================================================================

# Core Kernel Binary Objects (Root and src/)
*.o
*.ko
*.mod
*.mod.c
*.mod.o
.*.cmd
.module-common.o
src/*.o
src/.*.cmd

# System Allocation Tracking Logs
modules.order
Module.symvers

# Local Dynamic Build Directories
.tmp_versions/
build/

# Core Cache & System Hidden Dumps
.cache/
.swp
*~
